<template name="AccountsCreate">
  <div class="accounts-form">
    <form class="col s12" id="accounts-create-form">
      <div class="row">
        <input placeholder="username" id="username" type="text" class="validate">
      </div>
      <!--<div class="row">
        <input placeholder="email" id="email" type="email" class="validate">
      </div>-->
      <div class="row">
        <input placeholder="password" id="password" type="password" class="validate">
      </div>
      <div class="row">
        <input placeholder="password (again)" id="password-check" type="password" class="validate">
      </div>
      <button type="submit" class="btn waves-effect waves-light">Create</button>
    </form>
  </div>
</template>
